<%- layout('layouts/eventoLayout') %>

<div class="planeta">
    <img src="/img/planeta.png" alt="" class="img-fluid"></div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 card mt-20p">
            <h1>Selecciona una opción</h1>
            <a href="/seleccion-usuario?id=registro" class="btn btn-sec mb-40">
                <div class="circle"><i class="fas fa-pencil-alt"></i></div> Registrar Usuario
            </a>
            <a href="/seleccion-usuario?id=busqueda" class="btn btn-prim">
                <div class="circle"><i class="fas fa-search"></i></div> Usuario Existente
            </a>
        </div>
    </div>
</div>
<div class="cohete"><img src="/img/cohete.png" alt="" class="img-fluid"></div>