<%- layout('layouts/eventoLayout') %>
<style>
    
    .cont-principal{
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .cont-principal .cajaF{
        width: 80%;
        border-radius: 10px;
        padding: 20px 30px;
        box-sizing: border-box;
        background: rgba(255,255,255,0.90);
        width: 80%;
        /* height: 70%; */
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
    .cont-principal .cajaF .centrador{
        width: 100%;
    }
    .cont-principal .cajaF .centrador .cont-datosUsuario{
        width: 100%;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
    }
    .cont-principal .cajaF .centrador .cont-datosUsuario h2{
        width: 100%;
        margin: 0;
        padding: 8px 0;
        box-sizing: border-box;
        font-size: 25px;
        font-family: sans-serif;
    }
    .cont-principal .cajaF .centrador .cont-datosUsuario .cont-input{
        width: 100%;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
     .input{
        height: 60px;
        border: none;
        font-size: 20px;
        padding: 15px 15px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 15px;
        background: #08486b!important;
        box-shadow: inset 5px 5px 10px #073d5b, inset -5px -5px 10px #09537b;
        margin-bottom: 20px;
        color: white;
    }
     .input span{ 
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .cont-principal .cajaF .centrador h2{
        width: 100%;
        margin: 0;
        padding: 10px 0;
        box-sizing: border-box;
        font-size: 30px;
        font-family: sans-serif;
    }
    .cont-principal .cajaF .centrador .cont-input{
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }
    
    .cont-principal .cajaF .centrador .cont-input .autocomplete {
        position: relative;
        display: inline-block;
        width: 100% !important;
        
    }

    

    input[type=submit] {
    background: rgba(8,72,107,1);
    box-shadow:  5px 5px 10px #073d5b, -5px -5px 10px #09537b;
    color: #fff;
    cursor: pointer;
    }

    .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    }

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff; 
        border-bottom: 1px solid #d4d4d4; 
        font-size: 24px;
        font-family: sans-serif;
    }

    /*when hovering an item:*/
    .autocomplete-items div:hover {
    background-color: #e9e9e9; 
    }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
    }
    .cont-boton{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        box-sizing: border-box;
    }
    .cont-boton .botonUsuario{
        width: 100%;
        background: #17a2b8;
        box-shadow:  5px 5px 10px #073d5b, -5px -5px 10px #09537b;
        color: #fff;
        font-size: 24px;
        font-family:Helvetica, sans-serif;
        text-align: center;
        padding: 15px;
        margin: 20px 0;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .contBotonE{
        width: 100%;
    }
    .contBotonE .cont-boton{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        box-sizing: border-box;
    }
    .contBotonE .cont-boton button{
        width: 60%;
        border: none;
        background: #FFCD33;
        color: #fff;
        font-size: 30px;
        margin: 10px 0;
        padding: 15px;
        border-radius: 8px;
    }
    .contenedor-icono{
            width: 100%;
            height: 10%;
            display: flex;
            align-items: center;
            /* padding: 10px; */
    }
    .cont-icon{
        width: 20%;
        background: #B276D7;
        padding: 10px;
        border-radius: 10px;
        margin: 0 20px;
    }
    .cont-icon a{
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-family:Helvetica, sans-serif;
    }
    .cont-icon a i{
        margin: 0 15px;
    }
    .botonEnvio{
        width: 100%;
        background: #17a2b8;
        box-shadow:  5px 5px 10px #073d5b, -5px -5px 10px #09537b;
        color: #fff;
        font-size: 24px;
        font-family:Helvetica, sans-serif;
        text-align: center;
        padding: 15px;
        margin: 20px 0;
        box-sizing: border-box;
        border-radius: 15px;
    }
    .error {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        padding: 15px;
        border-radius: 8px;
        margin: 5px;
        font-size: 18px;
    }
</style>

<div class="planeta">
    <img src="/img/planeta.png" alt="" class="img-fluid"></div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <a href="/registro-evento" class="btn btn-back">
                <div class="circle"><i class="fas fa-arrow-left"></i></div> Regresar
            </a>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-8 card mt-5p">
            <div class="centrador" id="cont-datosUsuario"></div>
            <div class="centrador" id="cont-seccionUsuario"></div>
        </div>
    </div>
</div>
<div class="cohete"><img src="/img/cohete.png" alt="" class="img-fluid"></div>

<script>
    $(document).ready(async function() {
        
        // MagicPlanet.MisScripts.traerBrazaletes();
    
        const current_url = new URL(window.location.href);
        const search_params = current_url.searchParams;
        const id = search_params.get('id');
        console.log(id)
        MagicPlanet.MisScripts.traerSeccionUsuario(id);
        var usuarios = await MagicPlanet.MisScripts.traerUsuarios();
        console.log(usuarios);
        autocomplete(document.getElementById("myInput"), usuarios);
    })

</script>
<script>
    // document.getElementById('botonUsuario').addEventListener('click', async ()=>{
       
    // });
    
    
    function autocomplete(inp, arr) {
  
    var currentFocus;
    inp.addEventListener("input", function(e) {
        var a, b, i, val = this.value;
        closeAllLists();
        if (!val) { return false;}
        currentFocus = -1;
        a = document.createElement("DIV");
        a.setAttribute("id", this.id + "autocomplete-list");
        a.setAttribute("class", "autocomplete-items");
        this.parentNode.appendChild(a);
        for (i = 0; i < arr.length; i++) {
            if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
            b = document.createElement("DIV");
            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
            b.innerHTML += arr[i].substr(val.length);
            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
            b.addEventListener("click", function(e) {
                inp.value = this.getElementsByTagName("input")[0].value;
                closeAllLists();
            });
            a.appendChild(b);
            }
        }
    });
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        currentFocus++;
        addActive(x);
      } else if (e.keyCode == 38) { 
        currentFocus--;
        addActive(x);
      } else if (e.keyCode == 13) {
        e.preventDefault();
        if (currentFocus > -1) {
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    if (!x) return false;
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

// var countries = ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua & Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia & Herzegovina","Botswana","Brazil","British Virgin Islands","Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Canada","Cape Verde","Cayman Islands","Central Arfrican Republic","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica","Cote D Ivoire","Croatia","Cuba","Curacao","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea","Eritrea","Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kiribati","Kosovo","Kuwait","Kyrgyzstan","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Marshall Islands","Mauritania","Mauritius","Mexico","Micronesia","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Myanmar","Namibia","Nauro","Nepal","Netherlands","Netherlands Antilles","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria","North Korea","Norway","Oman","Pakistan","Palau","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal","Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre & Miquelon","Samoa","San Marino","Sao Tome and Principe","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","Solomon Islands","Somalia","South Africa","South Korea","South Sudan","Spain","Sri Lanka","St Kitts & Nevis","St Lucia","St Vincent","Sudan","Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad & Tobago","Tunisia","Turkey","Turkmenistan","Turks & Caicos","Tuvalu","Uganda","Ukraine","United Arab Emirates","United Kingdom","United States of America","Uruguay","Uzbekistan","Vanuatu","Vatican City","Venezuela","Vietnam","Virgin Islands (US)","Yemen","Zambia","Zimbabwe"];



</script>