<%- layout('layouts/main') %>
<style>
    .cont-principal{
        width: 100%;
    }
    .cont-principal .centrador{
        width: 80%;
    }
    .cont-tags{
        padding: 15px 0;
    }
    .cont-tags select{
        width: 60%;
        padding: 10px;
    }
    .botonAgregar{
        width: 40%;
        padding: 10px;
        border-radius: 8px;
        background: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
        display: inline-block;
        text-align: center;
        margin: 10px;
    }
    .botonRemover{
        width: 40%;
        padding: 10px;
        border-radius: 8px;
        background: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
        display: inline-block;
        text-align: center;
        margin: 10px;
    }
    .cont-imagen{
        width: 100%;
        height: 400px;
        text-align: center;
        border: 5px dashed  #ccc;
        position: relative;
    }
    .cont-imagen:hover{
        border: 5px dashed  #55E142;
        
    }
    .cont-imagen .cont-icono{
        position: absolute;
        top: 34%;
        right: 25%;
        margin: 0 auto;
        font-size: 80px;
        color: #ccc;
    }
    
    .cont-imagen .cont-icono span{
        font-size: 40px;
    }
    .cont-imagen input{
        /* padding: 50px; */
        height: 100%;
        width: 100%;
        opacity: 0;
    }
    .colorHover{
        color: #55E142 !important;
    }
    .esconder{
        display: none;
    }
    .cont-cambiarImg{
        width: 100%;
        overflow: hidden;
    }
    .cont-cambiarImg .cambiarImagen{
        width: 25%;
        background: #f8d7da;
        margin: 10px;
        float: right;
        padding: 10px 0;
        border-radius: 12px;
        border: 1px solid #f5c6cb;
        color: #721c24;
        text-align: center;
    }
    .cont-cambiarImg .cambiarImagen:hover{
        background: #721c24;
        border: 1px solid #f5c6cb;
        color: #f8d7da;
    }
    .cont-cambiarImg .cambiarImagen i{
        
        margin-right: 5px;
        
    }

    .cont-principal .centrador .image-preview {
        width: 100%;
    }
    .cont-principal .centrador .image-preview img{
        width: 100%;
    }
    .cont-principal .centrador .cont-seccion{
        width: 100%;
    }
    .cont-principal .centrador .cont-seccion h2{
        width: 100%;
        font-size: 24px;
    }
    .cont-principal .centrador .cont-seccion select{
        width: 100%;
        font-size: 18px;
        padding: 10px;
    }
    .ErrorFalta{
        width: 100%;
    }
    .ErrorFalta .error{
        width: 100%;
        padding: 1vw;
        background: #D27460;
        color: #7B1905;
        border: 1px solid #A12C13;
        text-align: center;
        margin: 10px 0;
    }
    @media (max-width: 450px){
        .cont-principal .centrador{
            width: 90%;
            margin: 0 auto;
        }
        .cont-principal .centrador form{
            width: 100%;
        }
    }
</style>
<div class="cont-principal">
    <div class="centrador">
        
        <form action="/crearPosts" method="POST" enctype="multipart/form-data" id="myPostForm" >
            <input type="hidden" name="nombreImg" id="nombreImg" /> 
            <!-- <div class="cont-seccion">
                <h2>Imagen</h2>
                <input type="file" name="imagenPost" id="imagenPost" />
            </div> -->
            <div id="imagenError" class="ErrorFalta">

            </div>
            <div class="cont-imagen" id="cont-imagen" onmouseover="MagicPlanet.MisScripts.hoverIn()" onmouseout="MagicPlanet.MisScripts.hoverOut()">
                <div class="cont-icono" id="cont-icono">
                    <i class="fa fa-image"></i> <span>Agregar Imagen</span>
                </div>
                <input type="file" name="imagenSubParrafo" id="imagenSubParrafo" onchange="MagicPlanet.MisScripts.handleChange()" />
            </div>
            <div id="imagePreview" class="image-preview esconder">
                <img src="" alt="Image" class="image-preview__img" />
            </div>
            <div class="cont-cambiarImg">
                <div class="cambiarImagen esconder" id="cambiarImagen" onclick="MagicPlanet.MisScripts.cambiarImagen()"><i class="fa fa-times-circle"></i>Cambiar Imagen</div>
            </div>
            <div id="tituloError" class="ErrorFalta">

            </div>
            <div class="cont-seccion">
                <h2>Titulo</h2>
                <input type="text" name="titulo" id="titulo" onkeyup="MagicPlanet.MisScripts.cambiarNombreImg('posts')" required />
            </div>
            <div class="cont-seccion">
                <h2>Parrafo</h2>
                <input type="text" name="parrafo1" id="parrafo1" />
                <input type="hidden" name="descripcion" id="descripcion" />
            </div>
            <div class="cont-seccion">
                <div class="cont-tags" id="cont-tags"> 

                </div>
            </div>
            
            <div class="cont-parrafos" id="cont-parrafos">

            </div>
            <div class="cont-seccion">
                <div class="botonAgregar" onclick="MagicPlanet.MisScripts.agregarParrafo();"><i class="fa fa-plus"></i>  Nuevo Parrafo</div>
                <div class="botonRemover" onclick="MagicPlanet.MisScripts.removerParrafo();"><i class="fa fa-minus"></i>  Quitar Parrafo</div>
            </div>
            <div class="cont-seccion">
                
                <div class="botonEnvio" onclick="MagicPlanet.MisScripts.enviarPost();">Enviar</div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function() {
        function windowGuid() {
            return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0, v = c === 'x' ? r : r & 0x3 | 0x8;
                return v.toString(16);
            });
        }
        function windowGuid2() {
            return '-4xx-yxx'.replace(/[xy]/g, function (c) {
                var r = Math.random() * 16 | 0, v = c === 'x' ? r : r & 0x3 | 0x8;
                return v.toString(16);
            });
        }
        
        var titulo = document.getElementById('titulo').value;
        var img2 = windowGuid2();
        var imagen = titulo+img2+'.png';
        // var imagen = img2+'.jpg';
        $('#nombreImg').val(imagen);
        MagicPlanet.MisScripts.getTags();

        const inpFile = document.getElementById("imagenSubParrafo");
        const previewContainer = document.getElementById("imagePreview");
        const previewImage = previewContainer.querySelector(".image-preview__img");

        console.log("inpFile: "+inpFile)
        console.log("previewContainer: "+previewContainer)
        console.log("previewImage: "+previewImage)
        
        inpFile.addEventListener("change", function(){
            const file = this.files[0];
            console.log(file);
            if(file){
                const reader = new FileReader();
                previewImage.style.display = "block";
                reader.addEventListener("load", function(){
                    console.log(this);
                    previewImage.setAttribute("src", this.result);
                });
                reader.readAsDataURL(file);
            }else{
                previewImage.style.display = null;
            }
        });

    } );
    
</script>