<%- layout('layouts/main') %>

      <div class="col-xl-8 xl-100 dashboard-sec box-col-12">
        <div class="card earning-card">
          <div class="card-body p-0">
            <div class="row m-0">
              <div class="col-xl-3 earning-content p-0">
                <div class="row m-0 chart-left">
                  <div class="col-xl-12 p-0 left_side_earning">
                    <h5>Dashboard</h5>
                    <p class="font-roboto">Datos magic planet</p>
                  </div>
                  <div class="col-xl-12 p-0 left_side_earning">
                    <h5 id="numero-usuarios"></h5>
                    <p class="font-roboto">Usuarios de Magic Planet</strong><span>Total Usuarios</span></p>
                  </div>
                  <div class="col-xl-12 p-0 left_side_earning">
                    <h5 id="numero-productos"></h5>
                    <p class="font-roboto">Productos de Magic Planet</strong><span>Total de Productos</span></p>
                  </div>
                  <div class="col-xl-12 p-0 left_side_earning">
                    <h5 id="numero-Cursos"></h5>
                    <p class="font-roboto">Cursos de Magic Planet</strong><span>Total de Cursos</span></p>
                  </div>
                  <div class="col-xl-12 p-0 left-btn"><a class="btn btn-gradient">Summary</a></div>
                </div>
              </div>
              <div class="col-xl-9 p-0">
                <div class="chart-right"> 
                  <div class="row m-0 p-tb">
                    <div class="col-xl-8 col-md-8 col-sm-8 col-12 p-0">
                      <div class="inner-top-left">
                        <ul class="d-flex list-unstyled">
                          <li>Daily</li>
                          <li class="active">Weekly</li>
                          <li>Monthly</li>
                          <li>Yearly</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-xl-4 col-md-4 col-sm-4 col-12 p-0 justify-content-end">
                      <div class="inner-top-right">
                        <ul class="d-flex list-unstyled justify-content-end">
                          <li>Online</li>
                          <li>Store</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="card-body p-0">
                        <div class="current-sale-container">
                          <div id="chart-currently"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row border-top m-0">
                  <div class="col-xl-4 pl-0 col-md-6 col-sm-6">
                    <div class="media p-0">
                      <div class="media-left"><i class="icofont icofont-crown"></i></div>
                      <div class="media-body">
                        <h6>Referral Earning</h6>
                        <p>$5,000.20</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-6 col-sm-6">
                    <div class="media p-0">
                      <div class="media-left bg-secondary"><i class="icofont icofont-heart-alt"></i></div>
                      <div class="media-body">
                        <h6>Cash Balance</h6>
                        <p>$2,657.21</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-12 pr-0">
                    <div class="media p-0">
                      <div class="media-left"><i class="icofont icofont-cur-dollar"></i></div>
                      <div class="media-body">
                        <h6>Sales forcasting</h6>
                        <p>$9,478.50     </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <script>
        $(document).ready(function() {
            MagicPlanet.MisScripts.getPrincipal();
            
        } );
        
    </script>