<%- layout('layouts/main') %>

<div class="contPrincipal">
    aqui reclamas el brazalete
    <div style="width: 500px" id="reader"></div>
</div>
<!-- <script src="html5-qrcode.min.js"></script> -->
<script src="https://raw.githubusercontent.com/mebjas/html5-qrcode/master/minified/html5-qrcode.min.js"></script>
<!-- <script>
    Html5Qrcode.getCameras().then(devices => {
  /**
   * devices would be an array of objects of type:
   * { id: "id", label: "label" }
   */
  if (devices && devices.length) {
    var cameraId = devices[0].id;
    // .. use this to start scanning.
  }
}).catch(err => {
  // handle err
});
</script> -->