<%- layout('layouts/layoutSistemaO') %>

<div class="container">
    <div class="row">
        <div class="col-md-6 text-center">
            <a href="/venta-general" class="btn btn-primary btn-sistema">Venta Nueva</a>
        </div>
        <div class="col-md-6 text-center">
            <a href="/usuario-existente" class="btn btn-primary btn-sistema">Usuario registrado</a>
        </div>
    </div>
</div>



<!-- <script>
    $(document).ready(function() {
        MagicPlanet.MiSistema.traerUsuario();
        
        
    } );
    
</script> -->